<html>
<head>
  <title>Seattle</title>
  <link rel="stylesheet" href="styles.css">
</head>
<body>
  <h1>Seattle Campus</h1>
  <p>Here's a list of student from the SEA Campus: </p>
  <ul>
    <% @students.each do |student| %>
      <li><%= student['name'] %></li>
    <% end %>
  </ul>
</body>
</html>